.hero {
    height: 55vh;
    width: 100%;
    display: flex;
    align-items: center;
  
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 120px; /* 避開 navbar */
  
    background:
      linear-gradient(to bottom, rgba(0,0,0,0.55), rgba(0,0,0,0.35)),
      url(../background3.jpg)
      center/cover no-repeat;
  }
.product-section {
    width: 100%;
    padding: 80px 0;
    background: #ffffff;
    text-align: center;
}

.product-title {
    font-size: 32px;
    font-weight: 700;
    color: #2F5E33;
    margin-bottom: 8px;
}

.product-subtitle {
    font-size: 16px;
    color: #6c6c6c;
    margin-bottom: 60px;
}

.product-block {
    width: 80%;
    margin: 0 auto 90px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.product-block.reverse {
    flex-direction: row-reverse;
}

.product1-image img {
    width: 100%;
    max-width: 600px; /* 放大尺寸，可再調 */
    height: auto;
    display: block;
    object-fit: contain;
    background: transparent;
    border: none;
}

.product-image img {
    width: 340px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
    background: none;
}

.product-text {
    width: 50%;
    text-align: left;
}

.product-name {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 12px;
}

.product-desc {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
    margin-bottom: 15px;
}

.product-list {
    list-style: disc;
    padding-left: 20px;
    color: #444;
    line-height: 1.6;
}
